$backgroundColor: linear-gradient(to bottom, #7dc2ae, #fac2c1);
$cardColor: #f0f0f0;

.welcome-page {
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 90px 40px;
  background: $backgroundColor;
}

.welcome-title {
  font-family: "Quicksand", sans-serif;
  font-size: 35px;
}

.welcome-card {
  height: 18%;
  width: 35%;
  margin-top: 60px;
  padding: 40px;
  box-shadow: 3px 3px 3px #d3d3d3;
  background-color: $cardColor;
}

.welcome-card-header {
  margin-bottom: 40px;
  justify-content: center;
}

.mat-card > .mat-card-actions:last-child {
  display: flex;
  justify-content: space-evenly;
}
