.director-dialog {
  margin-top: 0px;
  box-shadow: none;
}

.director-dialog-title {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
  display: flex;
  justify-content: center;
}

.director-dialog-content {
  text-align: center;
  font-family: "Quicksand", sans-serif;
  font-size: 18px;
}

.director-close-button.mat-stroked-button {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0px;
  line-height: 14px;
  min-width: auto;
  border: none;
  font-size: 20px;
}
