.edit-profile-dialog {
  margin-top: 0px;
  box-shadow: none;
}

.edit-profile-title {
  font-family: "Quicksand", sans-serif;
  font-size: 25px;
}

.edit-profile-dialog-content {
  margin-top: 25px;
}

.edit-profile-actions {
  display: flex;
  justify-content: space-between;
}
