.nav-bar {
  background-color: #f5f5f5;
}

.movies {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}

.profile {
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}

.logout-button {
  float: right;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
}
