$backgroundColor: linear-gradient(to bottom, #7dc2ae, #fac2c1);

.movie-view {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 50px 0;
  background: $backgroundColor;
}

.mat-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 3px 3px 3px #d3d3d3;
  max-width: 300px;
  width: 250px;
  margin: 15px;
  padding: 20px 3px;
  background-color: #e8e8e8;
}

.header {
  height: 80px;
  display: flex;
  align-items: center;
  font-family: "Quicksand", sans-serif;
}

.name {
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}

.genre {
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}

.synopsis {
  font-family: "Quicksand", sans-serif;
  font-size: 17px;
}

.movies-title {
  margin-top: 30px;
  display: flex;
  max-width: 210px;
  justify-content: center;
  text-align: center;
  line-height: normal;
  font-size: 25px;
}

.movies-subtitle {
  font-size: 17px;
}

img {
  margin-top: 20px;
  width: 250px;
  height: 350px;
  border-radius: 5%;
}

.mat-icon-button {
  position: absolute;
  right: 5px;
  top: 5px;
}
